body {
    width: 1280px;
    height: 2360px;
    margin: auto;
    background-image: url(../qqqq.jpeg);

}

img {
    padding: 40px 0 40px 0;
    margin: auto;
}

.wrap {
    /* height: 100%; */
    margin-top: 25px;
    /* width: 100px; */
    display: flex;
    /* flex-direction: column; */
    /* position: absolute; */
    /* line-height: 2; */
    /* margin: 20px; */
    right: 20%;
    align-items: center;
    /* top: 800px; */
    bottom: 0;
    justify-content: center;
}

.pereklich {
    position: absolute;
    top: 70px;
    right: 220px;
}

.menu12 {

    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu12 .toggle {
    position: absolute;
    width: 75px;
    height: 75px;
    background: #fff;
    color: #222327;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    transition: 0.5s;
}

.menu12 .toggle.active {
    transform: rotate(315deg);
    box-shadow: 0 0 0 68px #fff;
    background: #222327;
    color: #fff;
}

.menu12 li {
    position: absolute;
    left: -20px;
    list-style: none;
    transform: rotate(calc(360deg / 8 * var(--i))) translateX(40px);
    transform-origin: 140px;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    z-index: 10;
}

.menu12.active li {
    visibility: visible;
    opacity: 1;
}

.menu12 li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    font-size: 1.75em;
    color: #222327;
    transform: rotate(calc(360deg / -8 * var(--i)));
    border-radius: 50%;
}

.dispflex {
    display: flex;
    width: max-content;
}

.menu12 li:hover {
    background: linear-gradient(45deg, blue, red);
    border-radius: 50%;
}

.menu12 li:nth-child(2).active~.indicator {
    transform: translateX(-51.5px) rotate(0deg);
}

.menu12 li:nth-child(3).active~.indicator {
    transform: translateX(-51.5px) rotate(45deg);
}

.menu12 li:nth-child(4).active~.indicator {
    transform: translateX(-51.5px) rotate(90deg);
}

.menu12 li:nth-child(5).active~.indicator {
    transform: translateX(-51.5px) rotate(135deg);
}

.menu12 li:nth-child(6).active~.indicator {
    transform: translateX(-51.5px) rotate(180deg);
}

.menu12 li:nth-child(7).active~.indicator {
    transform: translateX(-51.5px) rotate(225deg);
}

.menu12 li:nth-child(8).active~.indicator {
    transform: translateX(-51.5px) rotate(270deg);
}

.menu12 li:nth-child(9).active~.indicator {
    transform: translateX(-51.5px) rotate(315deg);
}

.weq {
    position: relative;
    transform: 90d;
    transform: rotate(135deg);
    right: -8px;
}

.buttonss {
    min-width: 50px;
    min-height: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: #1E2939;
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin-left: 30px;
}

/* .buttonss:hover::before, .buttonss:focus::before {
    opacity: 1;
  } */

/* .buttonss::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
  }
   */
/* .buttonss:hover::after, .buttonss:focus::after {
    animation: none;
    display: none;
  } */

.toggle:hover {
    background: linear-gradient(45deg, rgb(25, 25, 44), rgb(167, 164, 199));
    transition: background-color 1s linear;
}

.logos {
    width: 35px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-left: 25px;
    vertical-align: middle;
}

.ssilka {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    color: black;
}

.ssilka:hover {

    background: linear-gradient(45deg, blue, red);
    border-radius: 20%;
}

.photocource {
    width: 150px;
    height: 110px;
}

.photoStyle {
    width: 70%;
    /* height: 300px; */
    border-radius: 100%;
    display: block;
}

aside {
    width: 370px;
    height: 2330px;
    background-color: #1E2939;
    z-index: 3;
}

.myproject li a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: auto;
    background: #F5F7FA;
    margin-top: 25px;
}

.left-colum {
    display: flex;
    flex-direction: column;
    width: 880px;
    height: 2330px;
    z-index: 1;
}

.box1 {
    width: 400px;
    /* height: 230px; */
    margin-top: 95px;
    margin-left: 100px;
    text-align: left;
    font-family: 'Montserrat';
}

.box1 h1 {
    font-size: 45px;
    font-weight: bold;
    font-family: 'Montserrat';

}

.box1 h2 {
    font-size: 18px;
    font-weight: bold;
}

.box1 p {
    font-size: 14px;

}

.box2 {
    width: 700px;
    margin-left: 100px;

}

.box2 ol {
    padding-left: 15px;
    margin-top: 0px;
}

.box2 h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

.boxlast {
    width: 327px;
    height: 114px;
    margin-left: 100px;
}

.box3 {
    width: 525px;
    height: 215px;
    margin-left: 100px;
}

.box4 {
    width: 525px;
    height: 150px;
    margin-left: 100px;
}

.box6 {
    width: 525px;
    height: 150px;
    margin-left: 100px;
}

.box5 {
    width: 525px;
    height: 126px;
    margin-left: 100px;
}

.work {
    font-size: 22px;
}

.orange {
    color: #FB6D3A;
}

.h4 {
    font-size: 16px;
}

.workex {
    font-weight: regular;
}

.box3 ul {
    padding-left: 15px;
}

.box4 {
    margin-top: 20px;
}

.box5 {
    margin-top: 20px;
}

.box4 ul {
    padding-left: 15px;
}

.box5 ul {
    padding-left: 15px;
}

.boxlast {
    margin-top: 30px;
}

.boxlast h3 {
    font-size: 22px;
}

.oranger {
    font-size: 16px;
    color: #FB6D3A;
    font-weight: 900;
}

.first-left {
    margin-left: 40px;
}

.first-left h3 {
    font-size: 22px;
    color: white;
    font-weight: bold;
    margin-bottom: 12px;
}

.white {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.first-left a {
    font-size: 14px;
    color: white;
    margin-left: 10px;

}

.tech,
.soft {
    margin-left: 40px;
}

.new {
    padding-left: 15px;
    line-height: 3.5;

}

.tech li {
    color: #FB6D3A;
}

.tech span {
    color: white;
    line-height: 1.7;
}

.soft li {
    color: #FB6D3A;
}

.soft span {
    color: white;
    line-height: 1.7;
}

.tech h3 {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 9px;
}

.soft h3 {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 9px;
}

.marf {
    margin-bottom: 20px;
}

.wrap {
    display: none;
}

.telegramm {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    padding: 0;
    margin-left: 20px;
}

#myBtn {
    background-color: #f5f7fa;
    /* color: white; */
    /* padding: 12px 16px; */
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}




.modal-content {
    position: relative;
    background-color: #a9aab3;
    margin: auto;
    padding: 0;
    left: 12.5%;
    border: 5px solid #1E2939;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #9C27B0;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #9C27B0;
    color: white;
}

.slider {
    max-width: 90%;
    position: relative;
    margin: auto;
    height: auto;
    margin-bottom: 15px;
}

/* Картинка масштабируется по отношению к родительскому элементу */
.slider .item img {
    /* заполняем картинкой поле с сохранением пропорций */
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: none !important;
    box-shadow: none !important;
}

/* Кнопки вперед и назад */
.slider .prev,
.slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Фон кнопок вперед и назад при наведении */
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* надпись */
.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    /* Выравнивание текста горизонтально и по вертикально*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Тень текста*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}

/* Кружочки под слайдами */
.slider-dots {
    text-align: center;
}

.slider-dots_item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,

/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

a {
    text-decoration: none;
    /* color: white; */
}

@media screen and (min-width: 1900px) {
    .pereklich {
        position: absolute;
        top: 70px;
        right: 25%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    body {
        width: 950px;
        height: 2770px;
        padding-bottom: 25px;
        margin: auto;
        background-image: url(../qqqq.jpeg);

    }

    .pereklich {
        position: absolute;
        top: 70px;
        right: 150px;
    }

    aside {
        width: 300px;
        height: 2740px;
        background-color: #1E2939;
        z-index: 3;
    }

    .container {
        display: flex;
        flex-direction: row-reverse;
        width: 950px;
        margin: auto;
        background: #F5F7FA;
        margin-top: 25px;
    }

    .left-colum {
        display: flex;
        flex-direction: column;
        width: 650px;
        height: 2740px;
        z-index: 1;
    }

    .box1 {
        width: 300px;
        /* height: 230px; */
        margin-top: 95px;
        margin-left: 70px;
        text-align: left;
        font-family: 'Montserrat';
    }

    .box2 {
        width: 550px;
        margin-left: 70px;

    }

    .box2 h3 {
        width: 400px;
    }

    .boxlast {
        width: 300px;
        height: 114px;
        margin-left: 70px;
    }

    .box3 {
        width: 400px;
        height: 245px;
        margin-left: 70px;
    }

    .box4 {
        width: 400px;
        height: 170px;
        margin-left: 70px;
    }

    .box6 {
        width: 400px;
        height: 160px;
        margin-left: 70px;
    }

    .box5 {
        width: 400px;
        height: 175px;
        margin-left: 70px;
    }

    .meineKurse {
        width: 250px;
    }
}

@media screen and (min-width: 750px) and (max-width: 870px) {
    body {
        width: 750px;
        height: 2830px;
        padding-bottom: 25px;
        margin: auto;
        background-image: url(../qqqq.jpeg);

    }

    .pereklich {
        position: absolute;
        top: 70px;
        right: 70px;
    }

    aside {
        width: 250px;
        height: 2800px;
        background-color: #1E2939;
        z-index: 3;
    }

    .container {
        display: flex;
        flex-direction: row-reverse;
        width: 750px;
        margin: auto;
        background: #F5F7FA;
        margin-top: 25px;
    }

    .left-colum {
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 2800px;
        z-index: 1;
    }

    .box1 {
        width: 250px;
        /* height: 230px; */
        margin-top: 95px;
        margin-left: 70px;
        text-align: left;
        font-family: 'Montserrat';
    }

    .box2 {
        width: 400px;
        margin-left: 70px;

    }

    .box2 h3 {
        width: 400px;
    }

    .boxlast {
        width: 300px;
        height: 114px;
        margin-left: 70px;
    }

    .box3 {
        width: 400px;
        height: 245px;
        margin-left: 70px;
    }

    .box4 {
        width: 400px;
        height: 170px;
        margin-left: 70px;
    }

    .box6 {
        width: 400px;
        height: 160px;
        margin-left: 70px;
    }

    .box5 {
        width: 400px;
        height: 175px;
        margin-left: 70px;
    }

    .meineKurse {
        width: 150px;
    }
}

@media screen and (max-width: 700px) and (orientation: portrait) {
    body {
        width: 100%;
        /* height: 1399px;  */
        margin: auto;
        background-image: none;
        overflow: scroll
    }

    .container {
        overflow-x: hidden;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: auto;
        background: #ffffff;
    }

    .photoStyle {
        width: 60%;
        /* height: 300px; */
        border-radius: 100%;
        display: block;
    }

    aside {
        width: fit-content;
        height: fit-content;
        background-color: #1E2939;
        z-index: 3;
    }

    .dispflex {
        display: contents;
    }

    .tech h3 {
        font-size: 25px;
    }

    .mobasside {
        width: 100%;
        /* height: 1319px; */
        display: block;
        background-color: #1E2939;
        /* z-index: 3; */
    }

    .myproject {
        text-align: left;
    }

    .left-colum {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background: url(../123.jpeg);
        background-repeat: inherit;
        background-position: center;
        height: 3050px;
        color: white;
        /* opacity: 0.9; */
        z-index: 1;
    }

    .box1 {
        width: fit-content;
        height: 230px;
        margin: 15px;
        text-align: center;
        font-family: 'Montserrat';
    }

    .box1 h1 {
        font-size: 45px;
        font-weight: bold;
        font-family: 'Montserrat';

    }

    .box1 h2 {
        font-size: 18px;
        font-weight: bold;
    }

    .box1 p {
        font-size: 14px;

    }

    .box2 {
        width: fit-content;
        margin: 15px;

    }

    .box2 ol {
        padding-left: 15px;
        margin-top: 0px;
    }

    .box2 h3 {
        margin: 15px;
        font-size: 22px;
    }

    .boxlast {
        width: fit-content;
        height: 114px;
        margin: 15px;
    }

    .box3 {
        width: fit-content;
        height: 215px;
        margin: 15px;
    }

    .ssilka {
        color: white;
    }

    .box4 {
        width: fit-content;
        height: 150px;
        margin: 15px;
    }

    .box5 {
        width: fit-content;
        height: 126px;
        margin: 15px;
    }

    #centrum {
        margin: 30px auto 20px;
    }

    .box6 {
        margin-top: 30px;
    }

    .work {
        font-size: 22px;
    }

    .orange {
        color: #FB6D3A;
    }

    .h4 {
        font-size: 16px;
    }

    .workex {
        font-weight: regular;
    }

    .box3 ul {
        padding-left: 15px;
    }

    .box4 {
        margin-top: 60px;
    }

    .box5 {
        margin-top: 20px;
    }

    .box4 ul {
        padding-left: 15px;
    }

    .box5 ul {
        padding-left: 15px;
    }

    .new {
        font-size: 20px;
    }

    .boxlast {
        margin-top: 30px;
        margin: 80px auto;
    }

    .boxlast h3 {
        font-size: 22px;
    }

    .oranger {
        font-size: 16px;
        color: #FB6D3A;
        font-weight: 900;
    }

    .first-left {
        margin: 15px;
    }

    .myproject li a {
        text-decoration: none;
        color: white;
    }

    .first-left h3 {
        font-size: 27px;
        color: white;
        font-weight: bold;
        margin-bottom: 12px;
    }

    .first-left a {
        font-size: 18px;

    }

    .white {
        color: white;
        font-weight: bold;
        font-size: 18px;
    }

    .modal-content {
        position: relative;
        background-color: #a9aab3;
        margin: auto;
        padding: 0;
        left: 0%;
        border: 5px solid #1E2939;
        width: fit-content;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }

    #myBtn {
        background-color: black;
        /* color: white; */
        /* padding: 12px 16px; */
        font-size: 18px;
        border-radius: 15px;
        margin-left: 5px;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }

    .slider .prev,
    .slider .next {
        cursor: pointer;
        position: inherit;
        top: 0;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: black;
        font-weight: bold;
        font-size: 24px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }

    .slider-dots {
        display: none;
    }

    .photocource {
        width: 150px;
        height: 110px;
        padding: 5px;
        padding-bottom: 15px;
    }

    .wrap {

        display: flex;
        flex-direction: row;
        margin-top: 10px;

        align-items: center;
        position: relative;
        left: 1%;

    }

    .buttonss {
        margin-left: 0px;
    }
}

@media print {
    #no-printme {
        display: none;
    }

    .pereklich {
        display: none;
    }

    #printme {
        display: block;
        background-image: none;
    }
}